<% include partials/header %>

<div class="row">
    <h1 style="text-align: center">Forgot Password</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/forgot" method="POST" class="form shadow">
            <div class="form-group">
                <lable for="email">Email Address</lable>
                <input type="email" name="email" autofocus class="form-control">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Reset Password">
            </div>
        </form>
    </div>
</div>

<% include partials/footer %>