<% include ../partials/header %>


<header class="jumbotron jumboCamp">
    <div class="container">
        <h1 class="jumboText">YelpCamp Campgrounds</h1>
        <p>We Have <%= campgrounds.length %> Campgrounds Listed</p>
        <p>
            <a class="btn btn-primary btn-lg" href="campgrounds/new">Add New Campground</a>
        </p>
        <p>
            <form action="/campgrounds" method="GET" class="form-inline">
                <div class="form-group">
                    <input tupe="text" name="search" placeholder="Search" class="form-control">
                    <input type="submit" value="Search" class="btn btn-default">
                </div>
            </form>
        </p>
    </div>
</header>

<div class="row text-center equal-height" style="display:flex; flex-wrap:wrap">
    <% campgrounds.forEach(function(campground){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
              <img src="<%= campground.image %>"></img> 
              <div class="caption">
                  <h4><%= campground.name %></h4>
              </div>
              <p>
                  <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">More Info</a>
              </p>
            </div>
        </div>
    <% }); %>
 </div>


<% include ../partials/footer %>
