/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: #E4E9ED;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

.jumboCamp {
    background: url(https://images.unsplash.com/photo-1505735754789-3404132203ed?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8e0ef56213507ac99a507966ab9c5499&auto=format&fit=crop&w=1050&q=80);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}
.jumboUser {
    background: url(https://images.unsplash.com/photo-1464207687429-7505649dae38?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6354eedc19ac4f3d9080c74963489da4&auto=format&fit=crop&w=1052&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

.jumboText {
    text-shadow: 0px 4px 6px rgba(0,0,0,0.4), 0px 8px 12px rgba(0,0,0,0.2), 0px 16px 18px rgba(0,0,0,0.1);
}

/*Thumnails*/
.thumbnail img {
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.thumbnail {
    padding: 0;
    border: none;
    background-color: #FCFCFF;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
    
}

.shadow {
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2),
				 0px 6px 8px rgba(0,0,0,0.1),
				 0px 10px 15px rgba(0,0,0,0.1);
}

.form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2),
				 0px 6px 8px rgba(0,0,0,0.1),
				 0px 10px 15px rgba(0,0,0,0.1);
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
    border-radius: 5px;
}

/* CSS used here will be applied after bootstrap.css */
@media only screen and (min-width : 481px) {
    .row.equal-height {
        display: flex;
        flex-wrap: wrap;
    }
    .row.equal-height > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
    .row.equal-height.row:after,
    .row.equal-height.row:before {
        display: flex;
    }

    .row.equal-height > [class*='col-'] > .thumbnail,
    .row.equal-height > [class*='col-'] > .thumbnail > .caption {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
    }
    .row.equal-height > [class*='col-'] > .thumbnail > .caption > .flex-text {
        flex-grow: 1;
    }
    .row.equal-height > [class*='col-'] > .thumbnail > img {
        width: 100%;
        height: 200px; /* force image's height */
        padding: 0;
        overflow: hidden;

        /* force image fit inside it's "box" */
        -webkit-object-fit: cover;
           -moz-object-fit: cover;
            -ms-object-fit: cover;
             -o-object-fit: cover;
                object-fit: cover;
    }
}

