<% include ../partials/header %>


<header class="jumbotron jumboUser">
    <div class="container">
        <h1>YelpCamp User Directory</h1>
        <p>We have <%= users.length %> Users</p>
    </div>
</header>

<div class="row text-center equal-height" style="display:flex; flex-wrap:wrap">
    <% users.forEach(function(user){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
              <img src="<%= user.avatar %>"></img> 
              <div class="caption">
                  <h4><%= user.username %></h4>
              </div>
              <p>
                  <a class="btn btn-primary" href="/users/<%= user._id %>">More Info</a>
              </p>
            </div>
        </div>
    <% }); %>
 </div>


<% include ../partials/footer %>
